:root {
    --page-background: #F5F5F5;
    --page-text-color: #121212;

    --dropdown-button-bg: #10a37f;
    --dropdown-button-fg: var(--page-background);

    --dropdown-container-bg: #FFFFFF;
    --dropdown-container-fg: var(--page-text-color);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--page-background);
    color: var(--page-text-color);
}

.container {
    padding: 20px;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
