:root {
    --page-background: #FFFFFF;
    --page-text-color: #000000;

    --dropdown-button: #F5F5F5;
    --dropdown-container-bg: #DDDDDD;
    --dropdown-container-hover-bg: #999999;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--page-background);
    color: var(--page-text-color);
}

.container {
    padding: 20px;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
